<header>
    <nav role="navigation" class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#" title="header link">Header</a>
            </li>
        </ul>
    </nav>
</header>